.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 2;
    width: 100%;
    margin: auto;
    background-color: #e4e1e1;
}
.logo{
    display: block;
    width: 300px;
    height: 40px;
    margin: auto 0px;
    padding: auto;
}
.menubtn{ display: none; }
.log1{ display: none; }
.menu{
    display: flex;
    z-index: 1;
}
.menuItems{
    display: flex;
    list-style: none;
}
.dropbtn {
    padding: 5px auto;
    font-size: 18px;
    border: none;
}
.dropdown {
    margin: auto 10px;
    position: relative;
    display: inline-block;
}
.dropdown_content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #e4e1e1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(252, 251, 251, 0.2);
    z-index: 1;
}
.lnk {
    color: black;
    margin: 10px;
    text-decoration: none;
}
.lnk:hover {
    background-color: #8fc7f6;
}
.dropdown:hover .dropdown_content {
    display: grid;
}
.dropdown:hover .dropbtn {
    color: #f50303;
}
.usercontent {
    display: flex;
    justify-content: space-between;
}
.userlink {
    font-weight: 700;
    color: black;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    padding: 1px auto;
    margin: auto 10px;
}

 @media screen and (max-width:800px){
    .navbar{
        flex-direction: row;
        align-items: flex-start;
    }
    .logo{
        width: 200px;
        height: 30px;
    }
    .menu{
        margin-right: 5%;
        flex-direction: column;
        align-items: flex-end;
        z-index: 3;
    }
    .menubtn{
        width: 40px;
        display: block;
        cursor: pointer;
    }
    .log1{
        display: block;
        padding: 20px 50px;
        width:100%;
    }
    .menuItems{
        margin:25px;
        flex-direction: column;
        align-items: flex-start;
        gap: 13px;
        border-radius: 10px;
        background: rgb(205, 217, 239);
    }
    .menu>li{
        display: none;
    }
    .usercontent {
        flex-direction: column;
        text-align: center;
        margin: auto;
        padding-bottom: 20px;
    }
    .userlink {
        width: max-content;
        padding: 0px 30px;
        font-weight: 600;
    }
}

 