.link {
    margin: 5px 15px;
    text-decoration: none;
    font-size: 15px;
}
.navbar{
    position: relative;
    border-radius: 10px;
    background-color: rgb(214, 251, 239);
    border: 0px solid red;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.menu {
    display: flex;
}
.menuItem {
    display: flex;
}
.menubtn {
    display: none;
}
.dropbtn {
    padding: 5px auto;
    font-size: 18px;
    border: none;
}
.dropdown {
    margin: auto 10px;
    position: relative;
    display: inline-block;
}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: #e4e1e1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(252, 251, 251, 0.2);
    z-index: 1;
}
.lnk {
    color: black;
    margin: 10px;
    text-decoration: none;
    display: block;
}
.lnk:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown_content {
    display: block;
}
.dropdown:hover .dropbtn {
    color: #3e8e41;
}
.logo {
    width: 200px;
    height: 30px;
}
.usercontent {
    display: flex;
    justify-content: space-between;
}
.userlink {
    font-weight: 700;
    color: black;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    padding: 1px auto;
    margin: auto 10px;
}
@media screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .usercontent {
        border: 1px solid red;
        display: grid;
        text-align: center;
        margin: auto;
    }
    .userlink {
        border: 1px solid green;
    }
    .menu {
        position: fixed;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }
    .menubtn {
        width: 20px;
        height: 20px;
        display: block;
        cursor: pointer;
    }
    .menuItem {
        margin: 45px;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(232, 234, 236);
        padding: 24px 33px;
    }
}
