.challenge{
    display: flex;
    width: 99%;
    margin: auto;
}
.question{
    margin: 20px 2px;
    width: 40%;
}

.cont>h1{
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
}
.cont>h2{
    margin: 10px 2px;
    font-size: 15px;
    font-weight: 500;
}
.cont>p{
    margin: 10px 2px;
    font-size: 14px;
    color: dimgrey;
}

@media screen and (max-width:700px) {
    .challenge{
        flex-direction: column;
    }
    .question{
        width: 100%;
        margin: 20px auto;
    }
}