.dashboard{
    width: 95%;
    margin: auto;
}
.dashboard>h1{
    font-size: 24px;
    font-weight: 500;
    margin: 10px auto;
}
.dashboard>h2{
    font-size: 20px;
    font-weight: 500;
    margin: 20px auto 10px;
}
.container{
    display: flex;
}
.skills{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    border-radius: 10px;
    margin: 30px 10px;
    width: 50%;
    height: 250px;
}
.skills>.skill>p{
    color: grey;
    font-size: 14px;
}
.skills>.skill>h2{
    font-size: 22px;
    font-weight: 500;
    margin: 10px auto;
}
.skill>button{
    margin: 20px auto 0px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid grey;
    font-weight: 500;
}

.topics{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.topic{
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.tlogo{
    margin: auto 10px;
    width: 30px;
    height: 30px;
}
@media screen and (max-width:700px) {
    .topics{
        grid-template-columns: repeat(1, 1fr);
    }
    .container{
        flex-direction: column;
    }
    .skills{
        width: 95%;
        margin: 20px;
        margin: 20px 10px;
    }
}