.realworld{
    width: 95%;
    margin: 50px auto;
    display: flex;
}
.realworld>div, .developers>div{
    margin: auto;
}
.tags{
    font-size: 32px;
    font-weight: 650;
}
#tags{
    text-align: left;
    margin: 20px auto;
    font-size: 22px;
}
.realworld>img, .developers>img {
    margin: 10px 20px;
    display: block;
    width: 50%;
    height: 400px;
}

.developers{
    width: 95%;
    margin: 50px auto;
    display: flex;
    flex-direction: row-reverse;
}
.developers>div>p{
    font-size: 20px;
    text-align: left;
}
#develop{
    margin: 10px auto;
    font-size: 30px;
    font-weight: 500;
}
.develop>li{
    font-size: 20px;
    margin: 5px 25px;
}

.skills{
    margin-bottom: 50px;
    padding: 50px 10px;
    background-color: rgb(16, 24, 16);
    color: white;
}
#skilltag{
    padding: 20px;
    font-size: 50px;
    text-align: center;
}
.skill{
    font-size: 18px;
}
@media screen and (max-width:700px) {
    .realworld, .developers{
        flex-direction: column;
    }
    .realworld>img, .developers>img {
        display: block;
        margin: auto;
        width: 95%;
        height: 400px;
    }
}