.community{
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 15px;
    display: flex;
    width: 95%;
    margin: auto;
}
.container{
    margin: auto 20px;
    padding: 20px 10px 30px;
    width: 50%;
}
.container>h3{
    font-size: 18px;
    font-weight: 500;
}
.container>h1{
    font-weight: 700;
    font-size: 26px;
    margin: 30px auto;
}
.container>p{
    font-size: 18px;
    margin: 30px auto;
}
.auth{
    border: 1px solid #ffff;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
}
.tag{
    text-align: left;
}
.community>img{
    width: 50%;
    display: block;
    margin: auto 20px;
}
@media screen and (max-width:700px){
    .community{
        display: grid;
    }
    .container{
        width: 100%;
        margin: auto;
    }
    .community>img{
        width: 100%;
        margin: auto;
    }
}