.heading{
    margin: 20px 20px 20px 300px;
}
.heading>h1{
    font-size: 46px;
    font-weight: 500;
    margin: 20px auto;
}
.heading>h3{
    font-size: 24px;
    font-weight: 500;
}
.heading>p{
    font-size: 18px;
    margin: 10px auto;
}
.policy{
    margin: 20px 20px 20px 300px;
}
.policy>h2{
    margin: 10px auto;
    font-size: 28px;
    font-weight: 500;
}
.policy>p{
    margin: 10px auto;
    font-size: 18px;
}
.policy>h3{
    margin: 10px auto;
    font-size: 20px;
    font-weight: 500;
}
.policy>ul>li{
    margin-left: 20px;
    font-size: 18px;
}
@media screen and (max-width:700px) {
    .heading, .policy{
        margin: 20px;
    }
}