#head{
    margin: 24px;
}
#head>p{
    font-size: 13px;
    color: dimgray;
}
#head>h1{
    font-size: 22px;
    font-weight: 500;
}
#contest{
    font-size: 20px;
    font-weight: 500;
    margin: 20px;
}
.archivedcontest{
    color: rgb(26, 26, 249);
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
}

@media screen and (max-width:700px) {
    #head>p{
        display: none;
    }
}